<?xml version="1.0" encoding="utf-8"?>

<launch>
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/hexapod.yaml" />
    <!-- <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/perfect.yaml" /> -->
  </node>

</launch>
